{% extends 'extemp/base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<h1><a href="{% url 'extemp:tournament_detail' round.event.tournament.pk %}">{{ round.event.tournament.name }} - Extemp Dashboard</a></h1>
<h1>{{round}}</h1>
<h2>Bulk Add Topics <a href="{% url 'extemp:manage_topics' round.pk %}">Manually Manage Topics</a></h2>
<p>Paste topics here (one per line, just the question)</p>
<form action="{% url 'extemp:bulk_add_topics' round.pk %}" method="post">
{% csrf_token %}
<textarea name="topics" rows="20" cols="100" required>{% for topic in topics %}
{{ topic.question }}{% empty %}{% endfor %}</textarea>
<br>
<input type="checkbox" required id="yes" /><label for="yes">I acknowledge that all current topics will be deleted and replaced with the new topics entered above.</label>
<br>
<br>
<input type="submit" class="btn-primary" value="Submit" />
</form>
{% endblock %}
