{% extends 'extemp/base_public.html' %}
{% block content %}
<form action="{% url 'extemp:select_topic' section.pk %}" method="post">
{% csrf_token %}
{% for topic in topics %}
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="topic" value="{{topic.pk}}" id="{{topic.pk}}" /><label for="{{topic.pk}}">
            <label class="form-check-label" for="{{topic.pk}}">{{ topic.topic.round }}-{{ topic.topic.code }} - {{ topic.topic.question }}</label>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-12">
        <input class="btn btn-primary float-sm-right" type="submit" value="Submit">
    </div>
</div>
<hr>
</form>

<h1>DO NOT TAKE A PICTURE OF THIS PAGE.  DO NOT TAKE A PICTURE OF THIS PAGE.</h1>
<h1>HIT SUBMIT FIRST, THEN YOU CAN TAKE A PICTURE OF YOUR TOPIC ON THE NEXT PAGE</h1>
{% endblock %}