{% extends 'extemp/base.html' %}
{% block head %}
<script type = "text/JavaScript">
  function AutoRefresh( t ) {
    setTimeout("location.reload(true);", t);
  }
  window.onload = AutoRefresh(60000);
</script>
{% endblock %}
{% block content %}
<h1>{{ tournament.name }} Dashboard - Clock</a></h1>
<hr>
<h3>Speakers</h3>
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#allSpeakers" aria-expanded="false" aria-controls="allSpeakers">
    Expand/Collapse
</button>
<div class="collapse show" id="allSpeakers">
  <h3>Topics Drawn</h3>
  {% for instance in tournament.get_current_topicinstances %}
  <p>{{ instance.section.round.event.code }} {{ instance.section.round.get_name_display }} Speaker {{ instance.index }} - {{ instance.name }} drew <b>{{ instance.modified | timesince }} ago</b></p>
  {% endfor %}
</div>
{% endblock %}
