{% extends 'extemp/base.html' %}
{% block content %}
<h1>{{ tournament.name }} Dashboard - <a href="{% url 'extemp:tournament_clock' tournament.pk %}">Clock</a></h1>
<hr>
<h3>Current Rounds - <a href="{% url 'extemp:open_current_rounds' tournament.pk %}">Open All Envelopes</a> - <a href="{% url 'extemp:close_current_rounds' tournament.pk %}">Close All Envelopes</a> - <a href="{% url 'extemp:get_current_urls' tournament.pk %}">Get URLs</a></h3>
{% for round in tournament.get_current_rounds %}
<h5>{{ round.event.name }} - {{ round.get_name_display }} - <a href="{% url 'extemp:bulk_add_topics' round.pk %}">Manage Topics</a> - <a href="{% url 'extemp:manage_sections' round.pk %}">Manage Sections</a> - <a href="{% url 'extemp:open_round' round.pk %}">Open Envelopes</a> - <a href="{% url 'extemp:close_round' round.pk %}">Close Envelopes</a></h5>
{% for section in round.section_set.all %}
<p><a href="{% url 'extemp:section_detail' section.pk %}">Section: {{section.name}}</a> {% if section.drawn_topics.exists %}topics have been drawn{% elif section.open %}envelope is open{% else %}envelope is closed{% endif %}.</p>
{% endfor %}
{% endfor %}
<hr>
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#allSpeakers" aria-expanded="false" aria-controls="allSpeakers">
    View All Speakers
</button>
<div class="collapse" id="allSpeakers">
  <h2>Topics Drawn</h2>
  {% for instance in tournament.get_current_topicinstances %}
  <p>{{ instance.section.round.event.code }} {{ instance.section.round.get_name_display }} Speaker {{ instance.index }} - {{ instance.name }} drew <b>{{ instance.modified | timesince }} ago</b></p>
  {% endfor %}
</div>
<hr>
<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#allRounds" aria-expanded="false" aria-controls="allRounds">
    View All Rounds
</button>
<div class="collapse show" id="allRounds">
{% for event in tournament.event_set.all %}
<hr>
<h3>{{ event.name }}</h3>
{% for round in event.round_set.all %}
{% if round.current %}
<h5>{{ round.get_name_display }} - <a href="{% url 'extemp:bulk_add_topics' round.pk %}">Manage Topics</a> - <a href="{% url 'extemp:manage_sections' round.pk %}">Manage Sections</a> - <a href="{% url 'extemp:remove_current_round' round.pk %}">Remove as Current Round</a></h5>
{% else %}
<p>{{ round.get_name_display }} - <a href="{% url 'extemp:bulk_add_topics' round.pk %}">Manage Topics</a> - <a href="{% url 'extemp:manage_sections' round.pk %}">Manage Sections</a> - <a href="{% url 'extemp:set_current_round' round.pk %}">Set as Current Round</a></p>
{% endif %}
{% for section in round.section_set.all %}
<p><a href="{% url 'extemp:section_detail' section.pk %}">Section: {{section.name}}</a> {% if section.drawn_topics.exists %}topics have been drawn{% elif section.open %}envelope is open{% else %}envelope is closed{% endif %}.</p>
{% endfor %}
{% endfor %}
{% endfor %}
</div>
{% endblock %}
