{% extends 'extemp/base.html' %}
{% block content %}
<h1>{{ tournament.name }} - Extemp Dashboard <a href="{% url 'extemp:manage_roundgroups' tournament.pk %}">Manage Round Groups</a></h1>
{% for event in tournament.event_set.all %}
<h1>{{ event.name }}</h1>
{% for round in event.round_set.all %}
<h2>{{ round.name }} - <a href="{% url 'extemp:manage_topics' round.pk %}">Manage Topics</a> - <a href="{% url 'extemp:manage_sections' round.pk %}">Manage Sections</a> - <a href="{% url 'extemp:open_round' round.pk %}">Open Envelopes</a> - <a href="{% url 'extemp:close_round' round.pk %}">Close Envelopes</a></h2>
{% for section in round.section_set.all %}
<p><a href="{% url 'extemp:section_detail' section.pk %}">Section: {{section.name}}</a> {% if section.drawn_topics.exists %}topics have been drawn{% elif section.open %}envelope is open{% else %}envelope is closed{% endif %}.</p>
{% endfor %}
{% endfor %}
{% endfor %}
{% endblock %}
